*{
    margin:0;
}



.bgPink {
    background-color: pink;
}

.bgPurple {
    background-color: blueviolet;
}

section {
    height: 100vh;
    width: 50%;
    margin: auto;
    text-align: center;
}

.boxs {
    width: 200px;
    height: 200px;
    display: inline-block;
}

